body {
    background-color:black;
    color: white;

}

/* UTILITY */
li {
    list-style: none;
}

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: ; */
    font-style: normal;
}

a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.space_around {
    justify-content: space-around;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.colum {
    display: flex;
    flex-direction: column;
}

.space_between {
    justify-content: space-between;
}

/* UTILITY */

/* NAV  */
.nav {
    border-bottom: 1px solid rgba(99, 99, 99, 0.753);

}

.nav_image,
.login {
    margin: 10px;
    padding: 10px;
}


.login a {
    border-radius: 15px;
    background-color: #2b293d;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}

/* NAV  */


/* CONTAINER  */
.container {

    width: 1200px;
    height: 600px;
    overflow: hidden;
    margin: 30px auto;
    position: relative;
    /* Reference point for absolute positioning */
}

.container .display_img {
    width: 100%;
    /* Fill container width while maintaining aspect ratio */
    height: 700px;
    border-radius: 15px;
    overflow: hidden;
    /* Clip content exceeding the div's bounds */
}

.container .display_img img {
    width: 100%;
    height: 100%;
    /* Ensures image scales to fill the display_img div */
    object-fit: cover;
    /* Maintain aspect ratio and cover the entire area */
}

.container .quot {
    position: absolute;

    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Center the text within the container */
    color: white;
    padding: 10px;
    text-align: center;
    /* Center text horizontally within the quot div */
}

.quot a {
    background-color: #2b293d;
    border-radius: 15px;
    padding: 20px;
    width: 100px;
    font-weight: bold;
    font-size: larger;
    display: inline-block;

}

.quot h1 {
    font-size: 60px;
    font-weight: bolder;
}

.quot h4 {
    font-size: x-large;
}

/* CONTAINER  */


/* home_title_l */
.home_title_l {
    width: 1200px;
    height: 200px;
    margin: auto;
}

.home_title_l h1 {
    font-size: 50px;
    font-weight: 20px;
}

.home_title_l span {
    font-size: 25px;
}

/* home_title_l */


/* cards flex */
.cards {
    width: 1200px;
    /* height: 00px; */
    justify-content: space-around;
    margin: auto;
}

.card {
    margin: 10px;
    width: 300px;
    /* padding: 10px; */
}

.cards .card_img {
    width: 300px;
    height: 230px;
    border-radius: 15px;
    overflow: hidden;
}

.cards .card_img img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */

}

.card span {
    font-size: larger;
    text-align: left;
    color: #9392a1;
    font-weight: bold;
}

/* cards flex */

/* sign_up_container */
.sign_up_container {
    width: 1200px;
    /* height: 750px; */
    margin: 50px auto;
    align-items: center;
    justify-content: space-between;
}

.sign_up_container .sign_up_img {
    width: 400px;
    height: 500px;
    overflow: hidden;
    border-radius: 15px;
}

.sign_up_img img {
    width: 100%;
    height: 100%;
}

.sign_up {
    text-align: center;
    /* width: 209px; */
    /* height: 105px; */
    border-radius: 15px;

}

.sign_up a {
    background-color: blue;
    border-radius: 15px;
    font-size: 35px;
    font-weight: bolder;
    display: inline-block;
    padding: 10px;
    margin: 20px auto;
}

.sign_up h1 {
    font-size: 40px;
    font-weight: 50px;
}

/* sign_up_container */

/* footer  */
footer {
    border-top: 1px solid #878487;
    width: 1300px;

    margin: auto;

}

.footer_container {
    width: 1000px;
    margin: 30px auto;
    justify-content: space-around;
    /* align-items: center; */
}

.footer_img {
    width: 330px;
    height: 227px;
    overflow: hidden;
    border-radius: 15px;
}

.footer_content {
    text-wrap: wrap;
    text-align: center;
    width: 500px;
    position: relative;

}

.footer_content.f_email {
    /* width: 400px; */
    align-items: center;
    display: flex;

}

.footer_content .f_email input {
    border: none;
    outline: none;
    width: 470px;
    height: 50px;
    border-radius: 15px;
    padding-left: 30px;
    background-color: #d3d3e1;
    font-weight: 500;
    font-size: 20px;
}

.f_email input::placeholder {
    color: #636264;
}

.footer_link {
    font-size: larger;
    color: #878487;
}

.footer_link ul {
    display: flex;
    justify-content: center;
}

.footer_link ul a {
    margin: 50px;
}

.f_social .f_icon i {
    margin: 20px;
}

.f_social {
    width: 1200px;
    margin: auto;
    text-align: center;
}


/* footer  */

/* REGISTRATION PAGE STARTS  */
.registration_form_cover_photo {
    width: 1200px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 15px;
}

.registration_form_cover_photo img {
    width: 100%;
    height: 100%;
}

.registration_form {
    padding: 20px;
    border-radius: 15px;
    width: 1200px;
    margin: 20px auto;
    background-image: url(../img/image.png);
    background-size: cover;
    background-position: center;
}

.registration_form input {
    width: 400px;
    height: 30px;
    /* border-radius: 10px; */
    /* border: 1px solid black; */
    font-size: 20px;
    padding: 5px;
    outline: none;
    color: #7d7c7d;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}

.registration_form input::placeholder {
    font-size: 40px;
    font-weight: bolder;
    color: #636264;
}

.registration_form div {
    margin: 10px auto;
}

.agree_to_terms {
    width: 1010px;
}

.agree_to_terms input {
    width: 123px;
    height: 20px;
}

.user_gender {
    width: 1010px;
}

.user_gender select {
    width: 200px;
    height: 30px;
    background-color: transparent;
    border: 1px solid black;
    color: #7a797a;
    font-size: large;
    font-weight: bold;
}

.form_submit_btn {
    text-align: center;
}

.form_submit_btn button {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
    background-color: #505050;
    color: white;
    border: none;
    cursor: pointer;
}

/* REGISTRATION PAGE  ENDS */



/* LOGIN PAGE STARTS  */
.login_container {
    width: 1010px;
    margin: 20px auto;
    padding: 10px;
    background-image: url(../img/Login-Screen-Background-Wood-5.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    /* height: 800px; */
}

.login_container .login_welcom {
    width: 400px;
    margin: auto;
}

.login_welcom h3 strong {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    padding: 5px 0px;
}

.login_welcom h3 {
    font-weight: bold;
    font-size: 25px;
}

.login_card {
    width: 400px;
    margin: auto;
    border: none;
    background-color: transparent;
    padding: 77px 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 17px 0px rgba(232, 232, 232, 0.5);

}

.login_card .login_image {
    font-size: 60px;
    height: 116px;
    width: 120px;
    color: #89888aeb;
    margin: 10px auto;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    background-color: #4d4c4fd3;


}

.login_inputs {
    /* text-align: center; */
    margin: auto;
}

.login_inputs input {
    background: transparent;
    margin: 20px auto;
    width: 200px;
    border: 3px solid rgba(134, 133, 133, 0.829);
    height: 30px;
    outline: none;
    color: white;
    border-radius: 15px;
    padding: 0px 10px;

}

.login_inputs input::placeholder {
    font-weight: bold;
    text-align: center;

}

.login_inputs a {
    color: white;
}

.login_inputs button {
    width: 100px;
    margin: 20px auto;
    background-color: rgba(134, 133, 133, 0.829);
    height: 30px;
    border-radius: 15px;
    border: none;
    color: white;
    cursor: pointer;
}

/* LOGIN PAGE ENDS */
/* user profile starts  */
.user_profiles{
    width: 1010px;
    margin: auto;
}
.user_profiles .user_profile{
    width: 400px;
    margin: auto;
    text-align: center;
    overflow: hidden;
}
.user_profile .user_profile_image{
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
}
.user_profile .user_profile_image img{
    width: 100%;
    height: 100%;
    
}
.user_profiles .user_profile_names span{
    color: #86829a;
    font-size: large;
    font-weight: bold;

}
.user_profiles .user_profile_names h1{
    margin: 5px;

}
.user_profile_follow_msg_btn button{
    margin: 10px;
    width: 120px;
    height: 35px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}
.user_profile_follow_msg_btn a{
    margin: 10px;
    width: 120px;
    height: 35px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
}
.user_profiles .user_profile_follow_msg_btn button{
    background-color: #86829a;
    outline: none;
    border:none;
    cursor: pointer;
    
}
.user_profiles .user_profile_follow_msg_btn a button{
    background-color: blue;
    color: white;
    outline: none;
    border:none;
    cursor: pointer;
    
}
.user_profiles .user_profile_follow_msg_btn {
    margin: 10px auto;
    
}

.following_follow_posts{
    width: 1010px;
    margin: auto;
    padding-bottom: 20px;
    text-align: center;
    justify-content: space-evenly;
    border-bottom: 2px solid #86829a;
}
.following_follow_posts div{
    width: 300px;
    /* height: 100px; */
    border-radius: 10px;
    padding: 10px;
    border: 2px solid rgb(93, 97, 126);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.following_follow_posts div h5{
    margin:0px;
    font-size: large;
}
.following_follow_posts div a{
    margin:0px;
    font-size: 15px;
    font-weight: 300;
    color: #86829a;
}
.users_all_posts{
    width: 1010px;
    margin: auto;
}
/* user profile ends */