{% load static %}



<div class="PostContainers">
    <div class="close-button">
        <a href="" style="color: red;">x</a>
    </div>
    <div class="PostContainer">
        <div class="postContainer-input-image flex">
            <div class="postContainer-image">
                <img src="../img/image2.jpg" alt="">
            </div>
            <div class="PostContainer-postContent">
                <label for="userInput"></label>
                <textarea contenteditable="true" name="" id="userInput" placeholder="kya haal hai viru"
                    maxlength=""></textarea>
            </div>
        </div>
        <!-- hidden image  -->
        <div class="hidden-image image-container" id="preview">
            <img src="" alt="">
        </div>
        <!-- caption  -->
        <div class="PostContainer-caption">
            <textarea name="" id="" maxlength="" placeholder="add caption to post"></textarea>
        </div>

        <div class="PostContainer-border"></div>
        <div class="PostContainer-image-input">
            <div class="Post-image-input space_between flex">
                <div class="saySomething-attachment" style="width: 50px; margin: 0px;">
                    <input type="file" class="file-input" src="" accept="image/*" alt="" id="imageInput">
                    <label for="imageInput" class="file-input-label">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/rehjpyyh.json" trigger="hover"
                            colors="primary:#b4b4b4,secondary:#e4e4e4" style="width:20px;height:20px">
                        </lord-icon>

                    </label>
                </div>
                <div class="PostContainer-post-button space_between flex">
                    <div class="progress-circle">
                        <svg width="40" height="40">
                            <circle class="bg" cx="20" cy="20" r="15"></circle>
                            <circle class="progress" cx="20" cy="20" r="15" stroke-dasharray="94.2"
                                stroke-dashoffset="94.2"></circle>
                        </svg>
                        <div class="text">0%</div>
                    </div>

                    <div class="" style="border-right: 1px solid silver; height: 30px; width: 1px;"></div>
                    <button type="submit">Post</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "includes/alerts.html" %}
<!-- login page design  ends here  -->