{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    @media only screen and (max-width: 768px) {
        footer{
            display:none;
        }
        
    }

</style>

{% comment %} hidden search  {% endcomment %}
<div class="searchUserHtml" style="display:none;">
    {% include "list_posts/search_user.html" %}
</div>
{% comment %} hidden search  {% endcomment %}

<!-- post popup start  -->
<script src="{% static 'js/js_components_for_ajax.js'%}"></script>
<div class="PostContainers">
    <div class="close-button close " style="cursor: pointer;">
        <script src="https://cdn.lordicon.com/lordicon.js"></script>
        <lord-icon src="https://cdn.lordicon.com/nqtddedc.json" trigger="hover" colors="primary:#848484"
            style="width:20px;height:20px">
        </lord-icon>
    </div>
    <form action="{%url 'add_posts'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}

        <div class="PostContainer">
            <div class="postContainer-input-image flex">
                {% if user_profile.profile_picture %}
                <div class="postContainer-image">
                    <img src="{{user_profile.profile_picture.url}}" alt="" style="object-fit: cover;">
                </div>
                {% else %}
                <div class="postContainer-image">
                    <img src="{%static 'img/images.jpeg'%}" alt="" style="object-fit: cover;">
                </div>
                {%endif%}
                <div class="PostContainer-postContent">
                    <label for="userInput"></label>
                    <textarea contenteditable="true" name="content" id="userInput"
                        placeholder="Something is in your mind? Say it here......" style="resize: none;"></textarea>
                </div>
            </div>
            <!-- hidden image  -->
            <div class="hidden-image image-container" id="preview">
                <img src="" alt="">
            </div>
            <!-- caption  -->
            <div class="PostContainer-caption">
                <textarea name="caption" placeholder="add caption to post..." style="resize: none;"></textarea>
            </div>


        </div>
        <div class="PostContainer-border"></div>
        <div class="PostContainer-image-input">
            <div class="Post-image-input space_between flex">
                <div class="saySomething-attachment" style="width: 200px; margin: 0px;">
                    <input type="file" class="file-input" name="post_image" src="" accept="image/*" alt=""
                        id="imageInput">
                    <label for="imageInput" class="file-input-label">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/rehjpyyh.json" trigger="hover"
                            colors="primary:#b4b4b4,secondary:#e4e4e4" style="width:20px;height:20px">
                        </lord-icon>

                    </label>
                    <span class="moreWords" style="display:none; margin-left: 5px; color: red;">ist more then
                        60words</span>
                </div>
                <div class="PostContainer-post-button space_between flex">
                    <div class="progress-circle">
                        <svg width="40" height="40">
                            <circle class="bg" cx="20" cy="20" r="15"></circle>
                            <circle class="progress" cx="20" cy="20" r="15" stroke-dasharray="94.2"
                                stroke-dashoffset="94.2"></circle>
                        </svg>
                        <div class="text">0%</div>
                    </div>

                    <div class="" style="border-right: 1px solid silver; height: 30px; width: 1px;"></div>
                    <button class="postButton" type="submit">Post</button>
                </div>
            </div>
        </div>

    </form>
    {% if messages %}
    <ul class="messages" style="color: red;">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
</div>
<!-- post popup ends -->





<!-- POSTING PAGE STARTS -->
<div class="postingPage flex "> <!-- posting page main container-->

    <div class="postingPageLeft">
        <div class="sticky">
            <div class="loggedInUserProfile">
                <div class="UserCover_photo_profile_photo">
                    {% if user_profile.cover_photo %}
                    <div class="postingPage_cover_photo">
                        <img src="{{user_profile.cover_photo.url}}" alt="">
                    </div>
                    {% else %}
                    <div class="postingPage_cover_photo">
                        <img src="" alt="">
                    </div>
                    
                    {% endif %}
                    {% if user_profile.profile_picture %}
                    <div class="postingPage_profile_photo">
                        <img src="{{user_profile.profile_picture.url}}" alt="">
                    </div>


                    {% else %}
                    <div class="postingPage_profile_photo">
                        <img src="{%static 'img/images.jpeg'%}" alt="">
                    </div>
                    {% endif %}
                </div>
                <div class="postingPage-user-details">
                    <h3>{{user.first_name}} {{user.last_name}}</h3>
                    <h4 style="color: rgb(169, 169, 169);">@{{user.username}}</h4>
                </div>
                <div class="postingPage-user-profile-counts  flex">
                    <div class="postingPage-followers">
                        <h4>{{total_posts}}</h4>
                        <h6>Posts</h6>
                    </div>
                    <div class="postingPage-followers">
                        <h4>{{total_followers}}</h4>
                        <h6>followers</h6>
                    </div>
                    <div class="postingPage-followers">
                        <h4>{{total_following}}</h4>
                        <h6>Following</h6>
                    </div>
                </div>
                
            </div>
            <!-- posting apge links start  -->
            <div class="postingPageLinks postingPageLinks_phone">
                <div class="linkLists">
                    <ul>
                        <li class="border-animation">


                            <a href="{% url 'home'%}">
                                <lord-icon src="https://cdn.lordicon.com/cnpvyndp.json" trigger="hover"
                                    colors="primary:#ffffff" style="width:20px;height:20px">
                                </lord-icon>
                                <span>Home</span></a>
                        </li>
                        <li class="border-animation">
                            <a href="{% url 'friend_messages'%}" >
                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                <lord-icon src="https://cdn.lordicon.com/fdxqrdfe.json" trigger="hover"
                                    colors="primary:#ffffff" style="width:20px;height:20px">
                                </lord-icon>
                                <span>Messages</span>
                            </a>
                        </li>
                        <li class="border-animation">
                            <a class="open" style="cursor: pointer;">
                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                <lord-icon src="https://cdn.lordicon.com/mecwbjnp.json" trigger="hover"
                                    colors="primary:#ffffff"
                                    style="width:25px;height:25px">
                                </lord-icon>
                                <span>Post</span>
                            </a>
                        </li>
                        <li class="border-animation">
                            <a class="searchUsersByUID" >
                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                <lord-icon
                                    src="https://cdn.lordicon.com/kkvxgpti.json"
                                    trigger="hover"
                                    colors="primary:#ffffff"
                                    style="width:20px;height:20px">
                                </lord-icon>
                                <span>Search</span>
                            </a>
                        </li>
                        

                        
                        <li class="border-animation">
                            <a href="{% url "allEvents" %}">
                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                <lord-icon
                                    src="https://cdn.lordicon.com/abfverha.json"
                                    trigger="hover"
                                    colors="primary:#ffffff"
                                    style="width:20px;height:20px">
                                </lord-icon>
                                <span>Events</span>
                            </a>
                        </li>
                        <li class="border-animation">
                            <a href="{% url 'account'%}">
                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                <lord-icon src="https://cdn.lordicon.com/kthelypq.json" trigger="hover"
                                    colors="primary:#ffffff" style="width:20px;height:20px">
                                </lord-icon>
                                <span>Account</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="postingPageMiddle">
        <div class="saySomething">
            <div class=" saySomething-submain  ">
                {% if user_profile.profile_picture %}

                <div class="saySomethingImage">
                    <img style="object-fit:cover;" src="{{user_profile.profile_picture.url}}" alt="">
                </div>
                {% else %}
                <div class="saySomethingImage">
                    <img src="{%static 'img/images.jpeg'%}" alt="">
                </div>
                <!-- if user not updated profile  -->
                <div class="UpdateProfilePoopUp" style="position: absolute; margin:auto; width: 300px;">
                    
                    <div id="deactivateModal" class="modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="warning-icon">⚠️</div>
                                    <h5 class="modal-title">Update Profile</h5>
                                </div>
                                <div class="modal-body">
                                    <p>You need to update your profile to post comments and all other features.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn cancel-btn">Cancel</button>
                                    <a href="{% url 'userProfileSettings' %}">
                                        <button type="button" class="btn deactivate-btn">Update</button>
                
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="saySomething-input  flex">
                    <div class="saySomething-icon1">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon class="lord-icon" src="https://cdn.lordicon.com/mecwbjnp.json" trigger="hover"
                            colors="primary:#b4b4b4,secondary:#e4e4e4" style="width:20px;height:20px">
                        </lord-icon>
                    </div>
                    <span class="saySomethinInputSpan open">Is there is something?..........</span>
                    <!-- <input type="text" class="open" placeholder="Is there is something in your mind?.........."> -->

                    <div class="saySomething-icon2">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/ercyvufy.json" trigger="hover" colors="primary:#777b7b"
                            style="width:20px;height:20px">
                        </lord-icon>
                        
                    </div>
                </div>
            </div>
            <!-- Posting input on the top of the posting page  -->
            <div class="saySomething-attachments">
                <div class="saySomething-attachment-left">
                    <!-- <div class="saySomething-attachment">
                        <input type="file" class="file-input" src="" accept="image/*" alt="" id="imageInput">
                        <label for="imageInput" class="file-input-label">
                            <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            <lord-icon src="https://cdn.lordicon.com/rehjpyyh.json" trigger="hover"
                                colors="primary:#b4b4b4,secondary:#e4e4e4" style="width:20px;height:20px">
                            </lord-icon>
                            <span>Image</span>
                        </label>
                    </div> -->
                    <!-- <div class="saySomething-attachment">
                        <input type="file" class="file-input" accept="video/*" id="videoInput">
                        <label for="videoInput" class="file-input-label">
                            <script src="https://cdn.lordicon.com/lordicon.js"></script>
                            <lord-icon src="https://cdn.lordicon.com/sdrxeanh.json" trigger="hover"
                                colors="primary:#b4b4b4,secondary:#e4e4e4" style="width:20px;height:20px">
                            </lord-icon>
                            <span>Video</span>
                        </label>
                    </div> -->
                </div>
                <!-- <div class="saySomething-Post">
                    <button type="submit">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/mqwitsmv.json" trigger="hover"
                            colors="primary:#ffffff,secondary:#b4b4b4" style="width:20px;height:20px">
                        </lord-icon>
                        <span>Post</span>
                    </button>
                </div> -->

            </div>
        </div>
        <!-- listing post one by one here starts  -->
        {% for post in posts %}
        {% include "list_posts/post.html" %}
        {% endfor %}
        <div hx-get="{% url 'list_posts' %}?page={{ page|add:1 }}"
            hx-trigger="revealed"
            hx-target="this"
            hx-swap="outerHTML">
        </div>
        <!-- listing post one by one here ends  -->

    
        
    </div>
    
    <div class="postingPageLast">
        <div class="sticky">
            <div class="allNotifications">
                <div class="flex">
                    <h4>Notifications</h4>
                    {%if notifications or follow_requests%}
                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                    <lord-icon src="https://cdn.lordicon.com/vspbqszr.json" trigger="hover" colors="primary:#e83a30"
                        style="width:30px;height:30px">
                    </lord-icon>
                    {%endif%}
                </div>
                {% comment %} start request {% endcomment %}
                {% for request  in follow_requests %}
                <div class="postActivity  flex" id="follow-request-{{ request.id }}">
                    {%if request.from_user.userprofile.profile_picture %}
                    <div class="postActivity-userProfile-image">
                        <img src="{{request.from_user.userprofile.profile_picture.url}}" style="object-fit: cover;"
                            alt="">
                    </div>
                    {%else%}
                    <div class="comment-posting-user">
                        <img src="{%static 'img/images.jpeg'%}" alt="" style="object-fit: cover;">
                    </div>
                    {%endif%}
                    <div class="postActivityDetails">
                        <strong style="font-size: 13px;font-weight: 300;">@{{request.from_user.users_id}}</strong>
                        <span style="text-wrap: wrap;">Sent follow request:
                            </span>

                    </div>
                    <div class="flex space_between">
                            <div >
                                <a href="#" class="follow-action" data-url="{% url 'accept_follow_request' request.id %}" style="margin:auto 5px;">
                                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                    <lord-icon
                                        src="https://cdn.lordicon.com/oqdmuxru.json"
                                        trigger="hover"
                                        colors="primary:#848484"
                                        style="width:20px;height:20px">
                                    </lord-icon>
                                </a>
                                <a href="#" class="follow-action" data-url="{% url 'deny_follow_request' request.id %}" style="margin:auto 5px;">
                                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                    <lord-icon
                                        src="https://cdn.lordicon.com/nqtddedc.json"
                                        trigger="hover"
                                        colors="primary:#f4a09c"
                                        style="width:20px;height:20px">
                                    </lord-icon>
                                </a>
                            </div>
                    </div>
                </div>

                {% comment %} end request  {% endcomment %}
                {% endfor %}
                <div class="allnotificatons_scrol" style="max-height: 400px; overflow-y: auto;">
                    {%if notifications %}
                    {% for notification in notifications %}
                    <div class="postActivity notification flex"
                        data-url="{%url 'mark_notification_as_read' notification.id%}" data-id="{{ notification.id }}">
                        {%if notification.actor.userprofile.profile_picture %}
                        <div class="postActivity-userProfile-image">
                            <img src="{{notification.actor.userprofile.profile_picture.url}}" style="object-fit: cover;"
                                alt="">
                        </div>
                        {%else%}
                        <div class="comment-posting-user">
                            <img src="{%static 'img/images.jpeg'%}" alt="" style="object-fit: cover;">
                        </div>
                        {%endif%}
                        <div class="postActivityDetails">
                            <strong style="font-size: 13px;font-weight: 300;">@{{notification.actor.users_id}}</strong>
                            <span style="text-wrap: wrap;">{{notification.notification_msg}}:
                                {{notification.timestamp}}</span>

                        </div>
                        {%if notification.post.post_image %}
                        <div class="postActivityImage_or_video">
                            <img style="object-fit: cover;" src="{{notification.post.post_image.url}}" alt="">
                        </div>
                        
                        {%else%}
                        <div class="comment-posting-user">
                            <span style="width: 100%; height: 100%; display:block;">
                                {{notification.post.content}}
                            </span>
                        </div>
                        {%endif%}
                    </div>
                    {% endfor %}
                    {%else%}
                    <h4 style="color: #777b7b; text-align: center; margin: 5px;">No Notifications</h4>
                    {%endif%}
                </div>

            </div>

        </div>
    </div>
      <!-- posting apge links start  -->
      <div class="postingPageLinks postingPageLinks_phone-block">
        <div class="linkLists">
            <ul>
                <li class="border-animation">


                    <a href="{% url 'home'%}">
                        <lord-icon src="https://cdn.lordicon.com/cnpvyndp.json" trigger="hover"
                            colors="primary:#ffffff" style="width:20px;height:20px">
                        </lord-icon>
                        <span>Home</span></a>
                </li>
                <li class="border-animation">
                    <a href="{% url 'friend_messages'%}">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/fdxqrdfe.json" trigger="hover"
                            colors="primary:#ffffff" style="width:20px;height:20px">
                        </lord-icon>
                        <span>Messages</span>
                    </a>
                </li>
                <li class="border-animation">
                    <a class="open" style="cursor: pointer;">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/mecwbjnp.json" trigger="hover"
                            colors="primary:#ffffff,secondary:#ffffff"
                            style="width:25px;height:25px">
                        </lord-icon>
                        <span>Post</span>
                    </a>
                </li>
                <li class="border-animation">
                    <a class="searchUsersByPhoneUID" >
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/kkvxgpti.json"
                            trigger="hover"
                            colors="primary:#ffffff"
                            style="width:20px;height:20px">
                        </lord-icon>
                        <span>Search</span>
                    </a>
                </li>
                <li class="border-animation">
                    <a href="{% url "allEvents" %}">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon
                            src="https://cdn.lordicon.com/abfverha.json"
                            trigger="hover"
                            colors="primary:#ffffff"
                            style="width:20px;height:20px">
                        </lord-icon>
                        <span>Events</span>
                    </a>
                </li>
                <li class="border-animation">
                    <a href="{% url 'account'%}">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/kthelypq.json" trigger="hover"
                            colors="primary:#ffffff" style="width:20px;height:20px">
                        </lord-icon>
                        <span>Account</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.like_post').on('click', function (e) {
            e.preventDefault();
            const postId = $(this).attr('data-id');
            const url = $(this).attr('data-url');
            const csrfToken = getCookie('csrftoken');

            const data = {
                post_id: postId
            };

            $.ajax({
                type: 'POST',
                url: url,
                headers: {
                    'X-CSRFToken': csrfToken
                },
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (response) {
                    console.log(response);

                    // Select the icon div and like count span
                    const iconDiv = $(`.like_post[data-id="${postId}"] .post_icon`);


                    // Toggle icon based on liked status
                    if (response.liked) {
                        iconDiv.removeClass('postUnliked_icon').addClass('postLiked_icon');
                        iconDiv.html(`<lord-icon src="https://cdn.lordicon.com/ulnswmkk.json" trigger="hover"
                        colors="primary:#e83a30" style="width:30px;height:30px"></lord-icon>`);
                    } else {
                        iconDiv.removeClass('postLiked_icon').addClass('postUnliked_icon');
                        iconDiv.html(`<lord-icon src="https://cdn.lordicon.com/xyboiuok.json" trigger="hover"
                        colors="primary:#848484" style="width:30px;height:30px"></lord-icon>`);

                    }

                    // Update the likes count

                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });


        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        };  
    });

    // saving the post 
  

</script>
<script>
  $(document).ready(function () {
    $('.posts-save').on('click', function (e) {
        e.preventDefault();
        const postId = $(this).attr('data-id');
        const url = $(this).attr('data-url');
        const csrfToken = getCookie('csrftoken');

        $.ajax({
            type: 'POST',
            url: url,
            headers: {
                'X-CSRFToken': csrfToken
            },
            data: JSON.stringify({ post_id: postId }),
            contentType: 'application/json',
            success: function (response) {
                if (response.status === 'success') {
                    const postIcon = $(`.posts-save[data-id="${postId}"] .save_post_icon`);
                    if (response.post_saved) {
                        postIcon.attr('src', 'https://cdn.lordicon.com/oiiqgosg.json');
                    } else {
                        postIcon.attr('src', 'https://cdn.lordicon.com/prjooket.json');
                    }
                } else {
                    console.error('Failed to save post');
                }
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
    });

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
});

</script>
<!-- POSTING PAGE ENDS -->

<!-- notification -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.notification').on('mouseenter', function () {
            const notificationId = $(this).attr('data-id');
            const url = $(this).attr('data-url');
            $.ajax({
                url: url,
                type: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function (response) {
                    console.log(response);
                }
            });
        });
    });

    // adding teh comment 
    $(document).ready(function () {
        $('.add_comments').on('click', function (e) {
            e.preventDefault();

            const postId = $(this).attr('data-id');
            const url = $(this).attr('data-url');
            const commentText = $(this).closest('.PostComments-Input').find('.textareamain').val().trim();
            const csrfToken = getCookie('csrftoken');

            const data = {
                comment: commentText,
                post_id: postId
            };

            $.ajax({
                type: 'POST',
                url: url,
                headers: {
                    'X-CSRFToken': csrfToken
                },
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (response) {
                    console.log(response);

                    if (response.success) {
                        // Clear the textarea
                        $('.textareamain').val('');

                        // Create the new comment HTML
                        const newCommentHtml = `
                        <div class="ListComments-All flex">
                            <div class="ListComments-UserProfile">
                                <img src="${response.comment.profile_picture}" alt="${response.comment.user}">
                            </div>
                            <div class="Comments_contents">
                                <div>
                                    <small><strong>${response.comment.user}</strong> <span>${response.comment.text}</span></small>
                                </div>
                                <div class="Comment_details-time flex">
                                    <span style="margin: 0px 10px;">${response.comment.created_at}</span>
                                    <span style="margin: 0px 10px;">Reply</span>
                                </div>
                            </div>
                        </div>
                    `;

                        // Append the new comment to the comments container
                        $(`#comments-container-${postId}`).append(newCommentHtml);
                    } else {
                        console.error('Failed to post comment:', response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error('Error:', error);
                }
            });
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });


</script>

<!-- showing comments  -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.show-comments-btn').on('click', function (e) {
            e.preventDefault();

            var postId = $(this).data('post-id');  // Get post ID from data attribute
            var url = $(this).data('url');         // Get URL from data attribute

            $.ajax({
                url: url,
                method: 'GET',
                success: function (response) {
                    var comments = response.comments;
                    var commentsHtml = '';

                    comments.forEach(function (comment) {
                        commentsHtml += `
                            <div class="ListComments-All flex">
                                <div class="ListComments-UserProfile">
                                    <img src="${comment.profile_picture}" alt="${comment.user}">
                                </div>
                                <div class="Comments_contents">
                                    <div>
                                        <small><strong>${comment.user}</strong> <span>${comment.comment}</span></small>
                                    </div>
                                    <div class="Comment_details-time flex">
                                        <span style="margin: 0px 10px;">${comment.created_at}</span>
                                        <span style="margin: 0px 10px;">Reply</span>
                                    </div>
                                </div>
                            </div>
                            `;
                    });

                    // Update the specific comments container for the current post
                    $('#comments-container-' + postId).html(commentsHtml);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching comments:', error);
                }
            });
        });
    });
</script>


{% include "includes/alerts.html" %}

{% endblock %}