{% load static %}
<div class="allPostLists">
    <div class="postContainer">
        <a href="{%url 'profile_details' post.user.id %}">
            <div class="posting-user-Image_details flex">
                {% if post.is_following  %}
                {%if post.user.userprofile.profile_picture%}
                <div class="posting-user-Image">
                    <img style="object-fit: cover; " src="{{post.user.userprofile.profile_picture.url}}" alt="">
                </div>
                {%else%}
                <div class="posting-user-Image">
                    <img src="{%static 'img/images.jpeg'%}" alt="">
                </div>
                {%endif%}
                {% else %}
                {%if post.user.userprofile.profile_picture%}
                <div class="posting-user-Image">
                    <img style="object-fit: cover; filter: blur(4px);" src="{{post.user.userprofile.profile_picture.url}}" alt="">
                </div>
                {%else%}
                <div class="posting-user-Image">
                    <img src="{%static 'img/images.jpeg'%}" alt="">
                </div>
                {%endif%}

                {%endif%}
                <div style="display:flex; flex-direction: column;">
                    {% if post.is_following %}
                    <span style="font-size: small; font-weight: 400;">{{post.user.username}}</span>
                    {% else %}
                    <span style="font-size: small; font-weight: 400;">{{post.user.users_id}}</span>
                    {% endif %}
                    <span style="font-size: small; font-weight: 300;">{{post.created_at}}</span>
                </div>
            </div>
        </a>
        <div class="postContainer-card">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% if post.post_image %}
                    {% if post.is_portrait %}
                    <div class="swiper-slide">
                        <div class="postContainer-Post_Big-image">
                            <img src="{{post.post_image.url}}" alt="">
                        </div>
                    </div>
                    {%else%}
                    <div class="swiper-slide">
                        <div class="postContainer-Post_image">
                            <img src="{{post.post_image.url}}" alt="">
                        </div>
                    </div>
                    {%endif%}
                    {% endif %}
                    {% if post.content %}
                    <div class="swiper-slide">
                        <style>
                            .swiper-slide-active {
                                margin: auto;
                            }
                        </style>
                        <div class="postContainer-Post_image "
                            style="justify-content: center;align-items: center;">
                            <p style="text-align: center; text-wrap: wrap; padding:10px;color: #a3a3a3; ">
                                {{post.content}}</p>
                        </div>
                    </div>
                    {% endif %}
                    <!-- Add more swiper slides as needed -->
                </div>
                <!-- Pagination -->

                <div class="Pagination-Dots">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>

        <div class="posts-likes-comments-saves flex">
            <div class="flex">
                <div class="posts-like-comment-save">
                    <a href="#" class="like_post" data-id="{{ post.id }}"
                        data-url="{% url 'post_like' post.id %}">
                        <div class="post_icon flex {% if post.liked_by_user %}postLiked_icon{% else %}postUnliked_icon{% endif %}"
                            style="align-items: center;">
                            {% if post.liked_by_user %}
                            <lord-icon src="https://cdn.lordicon.com/ulnswmkk.json" trigger="hover"
                                colors="primary:#e83a30" style="width:30px;height:30px"></lord-icon>
                            {% else %}
                            <lord-icon src="https://cdn.lordicon.com/xyboiuok.json" trigger="hover"
                                colors="primary:#848484" style="width:30px;height:30px"></lord-icon>
                            {% endif %}
                        </div>
                    </a>
                    {% if post.total_likes%}
                    <span style="color: #777b7b; margin: 0px 5px;"><strong>{{ post.total_likes }}</strong>
                        Likes</span>
                    {%else%}
                    <span style="color: #777b7b; margin: 0px 5px;"><strong>{{ post.total_likes }}</strong>
                        Likes</span>
                    {%endif%}
                </div>

                <div class="posts-like-comment-save Comment-onPost">
                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                    <lord-icon class="Comment-onPost show-comments-btn" data-post-id="{{ post.id }}"
                        data-id="{{post.id}}" data-url="{% url 'get_comments' post.id %}"
                        src="https://cdn.lordicon.com/fdxqrdfe.json" trigger="hover" colors="primary:#777b7b"
                        style="width:30px;height:30px">
                    </lord-icon>
                </div>

            </div>
            <!-- adding comment  starts  -->

            <div class="PostComments-forPosts" data-id="{{post.id}}" style="display: none;">

                <div class="comment-close " style="cursor: pointer;">
                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                    <lord-icon src="https://cdn.lordicon.com/jkppkiom.json" trigger="hover"
                        colors="primary:#848484" style="width:20px;height:20px">
                    </lord-icon>
                </div>

                <div class="PostComments-forPostsTitle">
                    <h3>Comments</h3>
                </div>
                <div class="PostComments-All">
                    <div class="ListsComments-All">

                        <div id="comments-container-{{ post.id }}"
                            class="ListComments-All comments-container flex">
                            <div class="ListComments-UserProfile">
                                <img src="" alt="">
                            </div>
                            <div class="Comments_contents">
                                <div>
                                    <small><strong></strong>
                                        <span></span></small>
                                </div>

                                <div class="Comment_details-time flex">
                                    <span style="margin: 0px 10px;">36/25/</span>
                                    <span style="margin: 0px 10px;">Replay</span>
                                </div>
                            </div>
                        </div>


                        <!-- Add more comments as needed -->
                    </div>

                    <div class="PostComments-Input flex">
                        {%if user_profile.profile_picture %}
                        <div class="comment-posting-user">
                            <img src="{{user_profile.profile_picture.url}}" alt="" style="object-fit: cover;">
                        </div>
                        {%else%}

                        <div class="comment-posting-user">
                            <img src="{%static 'img/images.jpeg'%}" alt="" style="object-fit: cover;">
                        </div>
                        {%endif%}
                        <div class=" Main-commentdiv flex">
                            <textarea class="textareamain" name="comment" style="resize: none;"
                                placeholder="Comment......"></textarea>
                            <div class="Comment-PostButton">

                                <button class="add_comments" data-id="{{ post.id }}"
                                    data-url="{% url 'add_comment' post.id %}" type="submit">Post</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- adding comment  ends -->

            <div >
                <a class="posts-save" href="#like" data-id="{{post.id}}" data-url="{% url 'save_post' post.id %}">
                    {% if post.saved_by_user %}
                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                    <lord-icon class="save_post_icon" src="https://cdn.lordicon.com/oiiqgosg.json" trigger="hover"
                    colors="primary:#777b7b" style="width:30px;height:30px">
                    </lord-icon>
                    {%else%}
                    <script src="https://cdn.lordicon.com/lordicon.js"></script>
                    <lord-icon class="save_post_icon" src="https://cdn.lordicon.com/prjooket.json" trigger="hover"
                        colors="primary:#777b7b" style="width:30px;height:30px">
                    </lord-icon>
                    {%endif%}
                </a>
            </div>

        </div>




        <div class="postsCaptions">
            <div class="post-caption">
                {% if post.is_following %}
                <h4><strong style="font-size: smaller;font-weight: 100;">@{{post.user.username}}</strong>
                {% else %}
                <h4><strong style="font-size: smaller;font-weight: 100;">@{{post.user.users_id}}</strong>
                {% endif %}
                    <span style="font-size: small;color: #bdb6b6;">{{post.caption}}</span></h4>
            </div>
            <!-- <div class="postAll-comments">
                <a href="#allcoments" style="color: #777b7b;">View all 156 comments</a>
            </div> -->
        </div>

    </div>
</div>