{% extends "base.html" %}
{% block content %}
<style>
    @media (max-width: 480px) {
        .message_ChatContainer {
            display: none;
        }
    }
</style>
<div class="messageContainer flex main_container_width main_container_width_phone"
    style="margin: auto; width:  1310px; justify-content: space-between;">
    <div class="messageUserList">
        <div class="chat_title flex" style="border-bottom: 1px solid white; padding: 10px 5px;">
            <h2>Chats</h2>
            <div class="loggedInUserImage">
                <img src="{{user.userprofile.profile_picture.url}}" alt="">
            </div>
        </div>
        <div class="message_userLists">
            <ul class="message_user_cards">
                {% for item in rooms_with_photos%}
                <a href="{% url 'room_chat' item.room.slug %}">
                <li class="message_user_card">
                    <div class="messageUserCard flex">
                        <div class="userImg">
                            <img src="{{item.profile_photo}}" alt="">
                        </div>
                        <div class="messageUsersDetails colum">
                            <div class="flex">
                                <span style="margin: 2px 0px; display: flex; justify-content: space-between;width: 174px;font-size: 15px;"><strong
                                        style="color: rgb(210, 208, 208);">
                                        {% for participant in item.room.participants.all %}
                                            {% if participant != user %}
                                                {{ participant.username }}
                                            {% endif %}
                                        {% endfor %}
                                    </strong></span> <small
                                        style="color: gray;">{{ item.last_message.created_at|date:"H:i" }}</small>
                                        {% if item.unread_msg %}
                                            <small>
                                                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                                <lord-icon
                                                    src="https://cdn.lordicon.com/vspbqszr.json"
                                                    trigger="hover"
                                                    colors="primary:#16c72e"
                                                    style="width:20px;height:20px">
                                                </lord-icon>
                                            </small>
                                        {% endif %}
                                    </span>
                            </div>
                            <span
                                style="font-size: small; color: rgb(134, 135, 135); margin: 2px 0px; width: 200px; text-wrap: nowrap; overflow: hidden;">{{item.last_message.content}}</span>
                        </div>
                    </div>
                </li>
                </a>
                {%endfor%}

            </ul>
        </div>
    </div>
    <div style="border-right: 1px solid rgb(62, 61, 61);"></div>
    <div class="message_ChatContainer flex" style="justify-content: center;">
        <div class="noUserSelectedForMsg" style="width: 300px; margin: auto; text-align: center;">
            <script src="https://cdn.lordicon.com/lordicon.js"></script>
            <lord-icon
                src="https://cdn.lordicon.com/fdxqrdfe.json"
                trigger="hover"
                colors="primary:#848484"
                style="width:100px;height:100px">
            </lord-icon>
            <div class="colum">
                <span style="color: gray; font-size: small;">wants to chat with friend! message them</span>
                <strong>Select the user to message</strong>
            </div>
        </div>

        
    </div>
</div>



{% endblock %}