{% extends "base.html" %}
{% block content %}
{% load static %}

<!-- login page design  starts here  -->


<div class="login_container flex">
    <div class="login_welcom">

        <h3><strong>Welcome,</strong> To Website</h3>
        <p>This is a privet,secure social network that respect your privacy.No adds,no algorithms,no tracking.</p>
    </div>
    <form action="{% url "login" %}" method="post">
        {% csrf_token %}

        <div class="login_card">
            <div class="login_image">
                <i class="bi bi-person"></i>
            </div>
            <div class="login_inputs flex colum">
                <input type="email" name="email" placeholder="Enter The Email">
                <input type="password" name="password" placeholder="Enter Password">
                <a href="{% url "forgot_password" %}">
                    <span class="forgot_password">Forgot Password?</span>
                </a>
                <button type="submit">Login</button>
            </div>
            <a href="{%url 'RegisterUser'%}">
                <div class="flex space_between" style="color: black; background-color: #86829a; padding: 10px; border-radius: 10px;">
                    <span>Still didn't joined US?</span>
                    <span>Sign up <i class="bi bi-arrow-right"></i></span>
                    
                </div>
            </a>

        </div>
        
    </form>
</div>
{% include "includes/alerts.html" %}
<!-- login page design  ends here  -->
{% endblock %}