{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    @media (max-width: 480px) {
        .PostDetails-Allcomments {
            display: none;
        }

        .phone_post_details_comment_close {
            display: block;
        }
    }
</style>

<body>
    <div class="user_profiles ">
        <div class="user_profile">
            <div class="user_profile_image">
                {% if profile.profile_picture %}
                <img src="{{profile.profile_picture.url}}" alt="">
                {% else %}
                <img src="https://cdn.usegalileo.ai/stability/5a1d521b-203e-464a-af54-9c7e80ef5f24.png" alt="">
                {% endif %}
            </div>
            <div class="user_profile_names">
                <h1><strong>{{user.first_name}} {{user.last_name}}</strong> </h1>
                <div class="flex" style="justify-content: space-evenly; width: 200px; margin: auto;">
                    <span>{{user.username}}</span>
                </div>
            </div>
            <div class="user_profile_follow_msg_btn">
                <a href="{% url 'userProfileSettings'%}">
                    <button class="follow_BTn" type="submit">Edit</button>
                </a>
                <a href="{% url 'friend_messages' %}"><button>Message</button></a>
            </div>
        </div>
    </div>
    <div class="following_follow_posts flex">
        <div class=" posts ">
            <h5>
                <strong>{{total_posts}}</strong>
            </h5>
            <a href="">Posts</a>

        </div>
        <div class=" followinrs">
            <h5>
                <strong>{{total_followers}}</strong>
            </h5>
            <a href="">Followers</a>

        </div>
        <div class=" followings">
            <h5>
                <strong>{{total_following}}</strong>
            </h5>
            <a href="">Following</a>

        </div>
    </div>
    <div class="users_all_posts">
        <h2>Bio</h2>
        <p style="font-size:15px;color:#747475; margin: 10px;width: 700px; padding: 10px">{{profile.userBio}}</p>
    </div>
    <div class="dashborard-line" style="width: 800px; margin: auto; border-bottom: 1px solid  rgb(93, 97, 126);"></div>

    <div class="post-saved_post flex">
        <div class="userAllPosts">
            <a href="#" style="margin: 0px !important;">
                <div class="flex" style="align-items: center;">
                    <div class="icon">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/rehjpyyh.json" trigger="hover"
                            colors="primary:#848484,secondary:#b4b4b4" style="width:25px;height:25px">
                        </lord-icon>
                    </div>
                    <span
                        style="font-size: large; margin-left: 5px; font-weight: 300; border-bottom: 2px solid #86829a;">{{total_posts}}
                        Post</span>

                </div>
            </a>
        </div>

        <div class="userAllSavePosts">
            <a href="{% url 'SavedPosts' %}" style="margin: 0px !important;">
                <div class="flex" style="align-items: center;">
                    <div class="icon">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/prjooket.json" trigger="hover" colors="primary:#777b7b"
                            style="width:25px;height:25px">
                        </lord-icon>

                    </div>
                    <span style="font-size: large; margin-left: 5px; font-weight: 300;">{{total_saved}} Saved</span>

                </div>
            </a>
        </div>
        <div class="userAllSavePosts">
            <a href="{% url 'userEvents' %}" style="margin: 0px !important;">
                <div class="flex" style="align-items: center;">
                    <div class="icon">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/abfverha.json" trigger="hover" colors="primary:#777b7b"
                            style="width:25px;height:25px">
                        </lord-icon>

                    </div>
                    <span style="font-size: large; margin-left: 5px; font-weight: 300;">{{totalEvent}} Events</span>

                </div>
            </a>
        </div>
    </div>
    <div class="usersAllPosts">
        <div class="UserAllPostList indetails flex ">
            <div class="PostDetailsContents">
                <div class="PostDetailsContent">
                    <div class="postContainer-card">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                {%if post.post_image%}

                                <div class="swiper-slide">
                                    <div class="postContainer-Post_Big-image">
                                        <img src="{{post.post_image.url}}" alt="">
                                    </div>
                                </div>
                                {%endif%}
                                {%if post.content%}
                                <div class="swiper-slide">
                                    <style>
                                        .swiper-slide-active {
                                            margin: auto;
                                        }
                                    </style>
                                    <div class="postContainer-Post_image "
                                        style="justify-content: center;align-items: center;">
                                        <p style="text-align: center; text-wrap: wrap; padding:10px;color: #a3a3a3; ">
                                            {{post.content}}</p>
                                    </div>
                                </div>
                                {%endif%}

                                <!-- Add more swiper slides as needed -->
                            </div>
                            <!-- Pagination -->

                            <div class="Pagination-Dots">
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>

                    <div class="post_details_likes_comments flex">
                        <div class="post_details_like flex" style="align-items: center;">
                            <a href="{% url 'post_details_like' post.id %}" >
                                <div class=""style="align-items: center;">
                                    {% if liked_by_user %}
                                    <lord-icon src="https://cdn.lordicon.com/ulnswmkk.json" trigger="hover"
                                        colors="primary:#e83a30" style="width:30px;height:30px"></lord-icon>
                                    {% else %}
                                    <lord-icon src="https://cdn.lordicon.com/xyboiuok.json" trigger="hover"
                                        colors="primary:#848484" style="width:30px;height:30px"></lord-icon>
                                    {% endif %}
                                    
                                </div>
                            </a>
                            <small style="color: gray; margin: 0px 5px;">{{total_likes}}</small>

                        </div>
                        <div class="post_details_comment flex" style="align-items: center;">
                            <lord-icon class="Comment-onPost show-comments-btn" data-post-id="35" data-id="35"
                                data-url="/comments/35/" src="https://cdn.lordicon.com/fdxqrdfe.json" trigger="hover"
                                colors="primary:#777b7b" style="width:30px;height:30px">
                            </lord-icon>
                            <small style="color: gray; margin:0px 5px;">{{total_comments}}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="PostDetails-Allcomments">
                <div class="postDetails_title">
                    <span class="phone_post_details_comment_close" id="phone_post_details">
                        <lord-icon src="https://cdn.lordicon.com/nqtddedc.json" trigger="hover" colors="primary:#848484"
                            style="width:20px;height:20px">
                        </lord-icon>
                    </span>
                    <h4
                        style="text-align: center; font-size: large; font-weight: 400;border-bottom: 1px solid #595765;">
                        Comments</h4>
                </div>
                <div class="PostDetailsAll-comments ">

                    <div class="PostDetailsAll-comment ">
                        {%if comments%}
                        {%for comment in comments%}
                        <div class="postDetailsAll-comment-lists flex" style="margin: 10px auto;">
                            <div class="PostDetailsAll-comment-img">
                                <img src="{{comment.user.userprofile.profile_picture.url}}" alt="">
                            </div>

                            <div class="PostDetailsAll-comment-details">
                                <h4 class="flex"><strong
                                        style="font-size: small;font-weight: 400;">@{{comment.user.users_id}}</strong>
                                    <span class="phone_comment"
                                        style="word-wrap: break-word;font-size: small;font-weight: 300;color:#939393; width:390px;">{{comment.comment}}</span>
                                </h4>
                                <h6 style="color: #625f5f;">
                                    <span style="margin: 0px 10px; font-weight: 300;">{{comment.created_at}}</span>
                                    <span style="font-weight: 300;">replay</span>
                                </h6>
                            </div>
                        </div>
                        {%endfor%}
                        {%else%}
                        <h6 style="text-align: center; ">No Comments</h6>
                        {%endif%}
                    </div>
                    <form action="{% url 'post_details' post_slug=post.post_slug %}" method="post">
                        {%csrf_token%}
                        <div class="PostDetails-comments-add_btn" style="align-items: center;">
                            <textarea name="comment" style="resize: none;"></textarea>
                            <button class="add_comments" data-id="{{ post.id }}" data-url="" type="submit">Post</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- post details for phone responsive start  -->


    <!-- post details for phone responsive end  -->
    <script>

        // search box showing 
        document.addEventListener("DOMContentLoaded", function () {
            // Show the div with class searchUserHtml when clicking on elements with classes searchUsersByUID and searchUsersByPhoneUID
            const searchUserBtns = document.querySelectorAll(".post_details_comment"); // Select both elements
            const closeBtn = document.getElementById("phone_post_details");

            // Loop through the selected elements and add event listeners to each
            searchUserBtns.forEach(function (button) {
                button.addEventListener("click", function () {
                    console.log('working');
                    document.querySelector(".PostDetails-Allcomments").style.display = "block";
                });
            });

            if (closeBtn) {
                closeBtn.addEventListener("click", function () {
                    document.querySelector(".PostDetails-Allcomments").style.display = "none";
                });
            }
        });

    </script>
</body>
{% include "includes/alerts.html" %}
{% endblock %}