{% extends "base.html" %}
{% block content %}

<body>
    <div class="user_profiles ">
        <div class="user_profile">
            <div class="user_profile_image">
                {% if profile.profile_picture %}
                <img src="{{profile.profile_picture.url}}" alt="">
                {% else %}
                <img src="https://cdn.usegalileo.ai/stability/5a1d521b-203e-464a-af54-9c7e80ef5f24.png" alt="">
                {% endif %}
            </div>
            <div class="user_profile_names">
                <h1><strong>{{user.first_name}} {{user.last_name}}</strong> </h1>
                <div class="flex" style="justify-content: space-evenly; width: 200px; margin: auto;">
                    <span>{{user.username}}</span>
                </div>
            </div>
            <div class="user_profile_follow_msg_btn">
                <a href="{% url 'userProfileSettings'%}" >
                    <button class="follow_BTn" type="submit">Edit</button>
                </a>
                <a href="{% url 'friend_messages' %}"><button>Message</button></a>
            </div>
        </div>
    </div>
    <div class="following_follow_posts flex">
        <div class=" posts ">
            <h5>
                <strong>{{total_posts}}</strong>
            </h5>
            <a href="">Posts</a>

        </div>
        <div class=" followinrs">
            <h5>
                <strong>{{total_followers}}</strong>
            </h5>
            <a href="">Followers</a>

        </div>
        <div class=" followings">
            <h5>
                <strong>{{total_following}}</strong>
            </h5>
            <a href="">Following</a>

        </div>
    </div>
    <div class="users_all_posts" >
        <h2>Bio</h2>
        <p style="font-size:15px;color:#747475; margin: 10px;width: 700px; padding: 10px">{{profile.userBio}}</p>
    </div>
    <div class="dashborard-line" style="width: 800px; margin: auto; border-bottom: 1px solid  rgb(93, 97, 126);"></div>

    <div class="post-saved_post flex">
        <div class="userAllPosts">
            <a href="{% url 'UserDashboard'%}" style="margin: 0px !important;">
                <div class="flex" style="align-items: center;">
                    <div class="icon">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/rehjpyyh.json" trigger="hover"
                            colors="primary:#848484,secondary:#b4b4b4" style="width:25px;height:25px">
                        </lord-icon>
                    </div>
                    <span  style="font-size: large; margin-left: 5px; font-weight: 300;">{{total_posts}} Post</span>

                </div>
            </a>
        </div>
        
        <div class="userAllSavePosts">
            <a href="#" style="margin: 0px !important; ">
                <div class="flex" style="align-items: center;width: 200px;">
                    <div class="icon">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/prjooket.json" trigger="hover" colors="primary:#777b7b"
                            style="width:25px;height:25px">
                        </lord-icon>

                    </div>
                    <span  style="font-size: large; margin-left: 5px; font-weight: 300;  border-bottom: 2px solid #86829a;" >{{total_saved}} Saved</span>

                </div>
            </a>
        </div>
        <div class="userAllSavePosts">
            <a href="{% url 'userEvents' %}" style="margin: 0px !important;">
                <div class="flex" style="align-items: center;">
                    <div class="icon">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/abfverha.json" trigger="hover" colors="primary:#777b7b"
                            style="width:25px;height:25px">
                        </lord-icon>

                    </div>
                    <span class="dashborard_event"  style="font-size: large; margin-left: 5px; font-weight: 300;" >{{totalEvent}} Events</span>

                </div>
            </a>
        </div>
    </div>
    <div class="usersAllPosts">
        <div class="UserAllPostList  flex ">
            {% if saved_posts %}
            {% for save in saved_posts %}
            {% include "accounts/saved.html" %}
            {% endfor %}
            <div hx-get="{% url 'SavedPosts' %}?page={{ page|add:1 }}"
            hx-trigger="revealed"
            hx-target="this"
            hx-swap="outerHTML">
            </div>
            {% else %}
            <div style="margin:50px;">
                <h2>
                    You don't have any Saved Post!😢
                </h2>
                
            </div>
            {% endif %}
            
            
        </div>
    </div>
    
</body>
{% include "includes/alerts.html" %}
{% endblock %}