<a href="{%url 'post_details' post_slug=save.post.post_slug %}">
    <div class="post_content ">
        <div class="userPostContent" style="margin: 0px;">
            {% if save.post.post_image %}
            <img src="{{save.post.post_image.url}}" alt="" style="object-fit: cover;">
            {% else %}
            <p style="text-align: center; font-size:small;">{{post.content}}</p>
            {% endif %}
        </div>
        <div class="post_content-likes-comment flex">
            <div class="post_content-likes-commentIcons flex" style="align-items: center; text-align: center;">
                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                <lord-icon src="https://cdn.lordicon.com/xyboiuok.json" trigger="hover" colors="primary:white"
                    style="width:30px;height:30px;font-weight: bold;">
                </lord-icon>
                <h4><strong>{{save.post.total_likes}}</strong></h4>
            </div>
            <div class="post_content-likes-commentIcons flex" style="align-items: center; text-align: center;">
                <script src="https://cdn.lordicon.com/lordicon.js"></script>
                <lord-icon src="https://cdn.lordicon.com/fdxqrdfe.json" trigger="hover" colors="primary:white"
                    style="width:30px;height:30px;font-weight: bold;">
                </lord-icon>
                <h4><strong>{{save.post.total_comments}}</strong></h4>
            </div>
        </div>
    </div>
</a>