{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
    .M-10_0 input[type='checkbox'] {
    display: none;
}
</style>
<div class="userProfileSettings">
    <div class="userProfileSettings-title" style="margin: 20px 0px;">
        <h2>Edit Profile</h2>
    </div>
    <div class="userProfileSetting-profile space_between flex">
        <div class="userProfileSettings-image">
            {% if profile.profile_picture %}
            <img src="{{profile.profile_picture.url}}" alt="">
            {% else %}
            <img src="https://cdn.usegalileo.ai/stability/5a1d521b-203e-464a-af54-9c7e80ef5f24.png" alt="">
            {% endif %}
        </div>
        <div class="userProfileSettings-profile-info">
            <h4>{{user.first_name}}</h4>
            <h5><span>{{user.username}}</span></h5>
            <h5><span>{{user.email}}</span></h5>
        </div>
    </div>
    <div class="userProfileSettingsForm">
        <form action="{%url 'userProfileSettings'%}" method="post", enctype="multipart/form-data">
            {%csrf_token%}
            <div class="M-10_0">
                <div class="flex space_between">
                    <label>First Name</label>
                    {{user_info_form.first_name}}
                </div>
                <h6>Enter your first name of your name</h6>
            </div>
            <div class="M-10_0">
                <div class="flex space_between">
                    <label for="">Last name</label>
                    {{user_info_form.last_name}}
                </div>
                <h6>Enter your last name of your full name.</h6>
            </div>
            <div class="M-10_0">
                <div class="flex space_between">
                    <label for="">Username</label>
                    {{user_info_form.username}}
                </div>
                <h6>Enter you username which should be unique </h6>
            </div>
            <div class="M-10_0">
                <div class="flex space_between">
                    <label for="">Phone Number</label>
                    {{user_info_form.phone_number}}
                </div>
                <h6>Enter you phone number.</h6>
            </div>
            <div class="M-10_0">
                <div class="flex space_between">
                    <label for="">Profile Picture</label>
                    {{user_profile_form.profile_picture}}
                </div>
                <div style="margin-left: -37px; color: rgb(247, 45, 45);">
                    {{user_profile_form.profile_picture.errors}}

                </div>
                <h6>You can update your profile picture here.</h6>
            </div>
            <div class="M-10_0">
                <div class="flex space_between">
                    <label for="">Cover Photo</label>
                    {{user_profile_form.cover_photo}}
                </div>
                <div style="margin-left: -37px; color: rgb(247, 45, 45);">
                    {{user_profile_form.cover_photo.errors}}

                </div>
                <h6>You can update your cover photo here.</h6>
            </div>
            <div class="M-10_0">
                <div class="flex space_between">
                    <label for="">Collage Name</label>
                    {{user_profile_form.collage_name}}
                </div>
                <h6>Through your collage name you will have specialized post mainly from your collage </h6>
            </div>
            <div class="M-10_0">
                <div class="flex space_between">
                    <label for="">Collage Pincode</label>
                    {{user_profile_form.collage_pin_code}}
                </div>
                <h6>Through your collage name you will have specialized post mainly from your collage Pin Code</h6>
            </div>
            <div class="userProfileSettingsForm-button">
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
    <div class="userProfile-logout">
        <h3>LOG OUT your account</h3>
        <a href="{% url 'logout'%}" style="margin: 0px;"><button>LOG OUT</button></a>
    </div>
</div>

{% include "includes/alerts.html" %}
<!-- login page design  ends here  -->
{% endblock %}