{% extends "base.html" %}
{% block content %}

<body>
    <div class="user_profiles ">
        <div class="user_profile">
            <div class="user_profile_image">
                {% if profile.profile_picture %}
                <img src="{{profile.profile_picture.url}}" alt="">
                {% else %}
                <img src="https://cdn.usegalileo.ai/stability/5a1d521b-203e-464a-af54-9c7e80ef5f24.png" alt="">
                {% endif %}
            </div>
            <div class="user_profile_names">
                <h1><strong>{{user.first_name}} {{user.last_name}}</strong> </h1>
                <div class="flex" style="justify-content: space-evenly; width: 200px; margin: auto;">
                    <span>Living in Switzerland</span>
                    <a href="{% url 'userProfileSettings'%}" style="color: #86829a;">
                        <i class="bi bi-gear"></i>
                    </a>

                </div>
            </div>
            <div class="user_profile_follow_msg_btn">
                <button type="submit">Follow</button>
                <a href="#"><button>Message</button></a>
            </div>
        </div>
    </div>
    <div class="following_follow_posts flex">
        <div class=" posts ">
            <h5>
                <strong>234</strong>
            </h5>
            <a href="">Posts</a>

        </div>
        <div class=" followinrs">
            <h5>
                <strong>856</strong>
            </h5>
            <a href="">Followers</a>

        </div>
        <div class=" followings">
            <h5>
                <strong>562</strong>
            </h5>
            <a href="">Following</a>

        </div>
    </div>
    <div class="users_all_posts">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, illum?</p>
    </div>
    <div style="width: 800px; margin: auto; border-bottom: 1px solid  rgb(93, 97, 126);"></div>

    <div class="post-saved_post flex">
        <div class="userAllPosts">
            <a href="#" style="margin: 0px !important;">
                <div class="flex" style="align-items: center;">
                    <div class="icon">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/rehjpyyh.json" trigger="hover"
                            colors="primary:#848484,secondary:#b4b4b4" style="width:25px;height:25px">
                        </lord-icon>
                    </div>
                    <span style="font-size: large; margin-left: 5px; font-weight: 300;">Post</span>

                </div>
            </a>
        </div>
        <div class="userAllSavePosts">
            <a href="#" style="margin: 0px !important;">
                <div class="flex" style="align-items: center;">
                    <div class="icon">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/prjooket.json" trigger="hover" colors="primary:#777b7b"
                            style="width:25px;height:25px">
                        </lord-icon>

                    </div>
                    <span style="font-size: large; margin-left: 5px; font-weight: 300;">Saved</span>

                </div>
            </a>
        </div>
    </div>
    <div class="usersAllPosts">
        <div class="UserAllPostList flex">
            {% for post in user_posts %}
            <div class="post_content">
                <div class="userPostContent" style="margin: 0px;">
                    {% if post.post_image %}
                    <img src="{{post.post_image.url}}" alt="" style="object-fit: cover;">
                    {% else %}
                    <p style="text-align: center; font-size:small;">{{post.content}}</p>
                    {% endif %}
                </div>
                <div class="post_content-likes-comment flex">
                    <div class="post_content-likes-commentIcons flex" style="align-items: center; text-align: center;">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/fdxqrdfe.json" trigger="hover" colors="primary:white"
                            style="width:30px;height:30px;font-weight: bold;">
                        </lord-icon>
                        <h4><strong>54</strong></h4>
                    </div>
                    <div class="post_content-likes-commentIcons flex" style="align-items: center; text-align: center;">
                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                        <lord-icon src="https://cdn.lordicon.com/xyboiuok.json" trigger="hover" colors="primary:white"
                            style="width:30px;height:30px;font-weight: bold;">
                        </lord-icon>
                        <h4><strong>54</strong></h4>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
{% include "includes/alerts.html" %}
{% endblock %}