{% load static %}
<footer>
    <div class="footer_container flex">
        <div class="footer_img">
            <img src="{%static 'img/footer_img.png'%}" alt="">
        </div>
        <div class="footer_content">
            <h1><strong>Connect with unknown friends,find some one of your like</strong></h1>
            <div class="f_email">
                <i class="bi bi-search"
                    style="position: absolute;color: #2b293d; margin: 10px 5px 5px 5px; font-size: large;font-weight:bold;"></i>
                <button type="submit"
                    style="position: absolute; margin: 5px;right:0; border: none; background-color:#2b293d ;color: white; height: 40px;border-radius: 15px;width: 100px;">Submit</button>
                <input type="email" name="" id="" placeholder="Enter you email for latest update">
            </div>
        </div>
    </div>
    <div class="footer_link">
        <div class="f_links">
            <ul>
                <a href="">
                    <li>About</li>
                </a>
                <a href="">
                    <li>Create Page</li>
                </a>
                <a href="">
                    <li>Developers</li>
                </a>
                <a href="">
                    <li>Careers</li>
                </a>
                <a href="">
                    <li>Privacy Policy </li>
                </a>
                <a href="">
                    <li>Terms</li>
                </a>
                <a href="">
                    <li>Help</li>
                </a>
            </ul>
        </div>
        <div class="f_social">
            <div class="f_icon">
                <i class="bi bi-instagram"></i>
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-youtube"></i>
            </div>
            <div class="copyright">
                <p>Copyright © <script>document.write(new Date().getFullYear());</script></p>

            </div>
        </div>
    </div>
</footer>