{% load static %}
<footer class="modern-footer">
    <div class="footer_main">
        <div class="footer_brand">
            <h1><strong>Connect with Vircle friends, find some one of your like</strong></h1>
            <div class="footer_email_form">
                <i class="bi bi-envelope"></i>
                <input type="email" name="" id="" placeholder="Enter you email for latest update">
                <button type="submit">Submit</button>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="footer_links">
            <ul>
                <a href="">
                    <li>About</li>
                </a>
                <a href="{%url 'terms'%}">
                    <li>Terms</li>
                </a>
                <a href="">
                    <li>Help</li>
                </a>
                <a href="">
                    <li>Privacy Policy</li>
                </a>
            </ul>
        </div>
        <div class="footer_social">
            <div class="social_icons">
                <i class="bi bi-instagram"></i>
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-youtube"></i>
            </div>
            <div class="copyright">
                <p>Copyright © <script>document.write(new Date().getFullYear());</script></p>
            </div>
        </div>
    </div>
</footer>