{% load static %}
<nav>
    <div class="nav flex space_between">
        <div class="nav_image">
            <a href="{%url 'home'%}">
                <img src="" alt="@MITY SOCIAL">
            </a>
        </div>
        {% if user.is_authenticated %}
        <div class="login">
            <a href="{% url "logout" %}">Log out</a>
        </div>
        {% else %}
        <div class="login">
            <a href="{% url "login" %}">Log in</a>
        </div>
        {% endif %}
    </div>
</nav>