{% load static %}
<nav >
    <div class="nav flex space_between">
        {% if user.is_authenticated %}
        <div class="nav_image">
            <a href="{%url 'list_posts'%}" style="text-align: center;">
                <h4 style="font-weight: 600;"><strong style="font-size: larger;">UNI</strong> <small style="
                    font-size: larger;
                    background-color: #b9b9b9;
                    color: black;
                    border-radius: 3px;
                    padding: 2px;
                ">Hub</small></h4>
                <span style="color: gray;
    font-size: medium;">Unknown Talk</span>
              
            </a>
        </div>
        {% else %}

        <div class="nav_image">
            <a href="{%url 'home'%}">
                <h4 style="font-weight: 600;"><strong style="font-size: larger;">UNI</strong> <small style="
                    font-size: larger;
                    background-color: #b9b9b9;
                    color: black;
                    border-radius: 3px;
                    padding: 2px;
                ">Hub</small></h4>
                <span style="color: gray;
    font-size: medium;">Unknown Talk</span>
            </a>
        </div>
        {% endif %}
        {% if user.is_authenticated %}
        <div style="margin: 10px;">
            {% if user_profile.profile_picture %}
            <div class="nav_profile_image"
                style="width: 50px;height: 50px;overflow: hidden; border-radius: 50%; cursor: pointer;">
                <a href="{%url 'UserDashboard'%}">
                    <img src="{{user_profile.profile_picture.url}}" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                </a>
            </div>
            {% else %}
            <div class="nav_profile_image"
                style="width: 50px;height: 50px;overflow: hidden; border-radius: 50%; cursor: pointer;">
                <a href="{%url 'UserDashboard'%}">
                    <img src="{%static 'img/images.jpeg'%}" alt="" style="width: 100%; height: 100%;">
                </a>
            </div>
            
            {%endif%}
        </div>
        {% else %}
        <div class="login">
            <a href="{% url 'login'%}">Log in</a>
        </div>
        {% endif %}
    </div>
</nav>