{% extends "base.html" %}
{% block content  %}
{% load static %}
<body>
    <div class="container">
        <div class="quot">
            <h1>Your thoughts, your secrets</h1>
            <h4>Whisper is a privet,secure social network that respect your privacy.No adds,no algorithms,no tracking.
            </h4>
            <a href="{% url 'RegisterUser'%}">Sign up</a>
        </div>
        <div class="display_img">
            <img src="{%static 'img/pexels-keenan-constance-545154-2865901.jpg'%}" alt="">
        </div>
    </div>
    <div class="home_title_l">
        <h1>The social network you've been waiting for</h1>
        <span>Its time for a social network that respects your privacy and puts you in control</span>
    </div>
    <div class="cards flex">
        <div class="card">
            <div class="card_img">
                <img src="{%static 'img/no ads.jpeg'%}" alt="">
            </div>
            <h2>No ads</h2>
            <span>We don't sell your data to advertisers</span>
        </div>
        <div class="card">
            <div class="card_img">
                <img src="{%static 'img/no algorithms.jpeg'%}" alt="">
            </div>
            <h2>No algorithms</h2>
            <span>We don't manipulate your feed with algorithms</span>
        </div>
        <div class="card">
            <div class="card_img">
                <img src="{%static 'img/no tracking.jpeg'%}" alt="">
            </div>
            <h2>No tracking</h2>
            <span>We don't track you location or you behaviours</span>
        </div>
    </div>
    <div class="sign_up_container flex">
        <div class="sign_up_img">
            <img src="{%static 'img/signup.jpeg'%}" alt="">
        </div>
        <div class="sign_up">
            <h1>Jon the conversation. Sign up today.</h1>
            <a href="singup">Sign up</a>
        </div>
    </div>
    
</body>

{% endblock %}