{% extends "base.html" %}
{% block content %}
{% load static %}
<script src="https://cdn.tailwindcss.com"></script>

<div class="addEventsFromBG"
    style="background: url({% static 'img/pexels-wendywei-1190298.jpg' %}); background-size:contain; background-position: center; background-repeat: no-repeat;">

    <section class="addEnentsForm max-w-4xl p-6 mx-auto bg-indigo-600 rounded-md shadow-md bg-transparent mt-20">
        <h1 class="text-xl font-bold text-white capitalize dark:text-white">Account settings</h1>

        <form action="{%url 'editEvent' event.id%}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
                <div>
                    <label class="text-white bg-transparent" for="title">Event Title</label>
                    {{form.title}}
                </div>
                <div>
                    <label class="text-white bg-transparent">Location</label>
                    {{form.location}}
                </div>
                <div>
                    <label class="text-white bg-transparent">Attendees</label>
                    {{form.attendees}}
                </div>
                <div>
                    <label class="text-white bg-transparent">Event Organizer</label>
                    {{form.organizer}}
                </div>
                <div>
                    <label class="text-white dark:text-gray-200" for="passwordConfirmation">Start Date</label>
                    {{form.start_datetime}}
                  
                </div>
                <div>
                    <label class="text-white dark:text-gray-200">End Datetime</label>
                   {{form.end_datetime}}
                </div>
                <div>
                    <label class="text-white dark:text-gray-200">Description</label>
                    {{form.description}}
                </div>
                <div>
                    <label class="block text-sm font-medium text-white">
                        Event Poster
                    </label>
                    <div
                        class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                        <div class="space-y-1 text-center">
                            <svg class="mx-auto h-12 w-12 text-white" stroke="currentColor" fill="none"
                                viewBox="0 0 48 48" aria-hidden="true">
                                <path
                                    d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <div class="flex text-sm text-gray-600" style="justify-content: center;">

                                {{form.image}}
                                <p class="pl-1 text-white">or drag and drop</p>
                            </div>
                            <p class="text-xs text-white">
                                PNG, JPG, GIF up to 10MB
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-end mt-6">
                <button
                    class="px-6 py-2 leading-5 text-white transition-colors duration-200 transform bg-pink-500 rounded-md hover:bg-pink-700 focus:outline-none focus:bg-gray-600"
                    type="submit">Update</button>
            </div>
        </form>
    </section>

</div>

{% endblock %}